{% extends 'default_anonymous.html' %}
{% load bootstrap3 %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a href="/" class="btn btn-default btn-block">Browse PanelApp without logging in</a>
      <form action="{% url 'accounts:login' %}" method="post" class="login-panel panel panel-default add-top-margin">
        {% csrf_token %}
        <div class="panel-heading">
          <h3 class="panel-title">Log in</h3>
        </div>
        <div class="panel-body">
          <fieldset>
            {% bootstrap_form form %}
            <p class="tiny"><a href="{% url 'accounts:password_reset' %}"> I forgot my password</a></p>
          </fieldset>
        </div>
        <div class="panel-footer">
            {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}" />{% endif %}
          <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
      </form>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Register</h3>
        </div>
        <div class="panel-body">
          <p>To review gene panels we request that you have expertise relevant to the rare diseases included in the <a href="http://www.genomicsengland.co.uk/the-100000-genomes-project/">100,000 Genomes Project</a>. You must have expertise in one of the following:</p>
          <ul>
            <li>a relevant disease area</li>
            <li>diagnostic genetic testing of a relevant disease area</li>
            <li>genes relevant to the diseases included in the project</li>
          </ul>
          <p>A <a href="http://www.genomicsengland.co.uk/library-and-resources/">list of the diseases</a> included in the project can be found on <a href="http://www.genomicsengland.co.uk/library-and-resources/">Genomics England</a>.</p>

          <a href="{% url 'accounts:register' %}" class="btn btn-default btn-block">Register to be a reviewer</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
