{% extends "default.html" %}

{% load staticfiles %}

{% block title %}Genes{% endblock %}

{% block content %}
  {% if tag_filter %}
    <ol class="breadcrumb">
      <li><a href="?">Entities</a></li>
      <li class="active">{{ tag_filter }}</li>
    </ol>
  {% endif %}

  {% with entities|length as entities_length %}

  <h1 class="add-bottom-margin">
    {% if tag_filter %}
      <div class="text-muted normal add-label-margin"><span id="entities-filter-count" class="text-muted"></span>{{ entities_length }} entities tagged</div>
      “{{ tag_filter}}”
    {% else %}
        <span id="entities-filter-count" class="text-muted"></span>{{ entities_length }} entities
    {% endif %}
  </h1>
    <div class="row">
      <div class="col-md-9">
        <div data-module="filterable-list">
          <div class="panel panel-default">
            <div class="panel-heading">
              Find an entity
            </div>
            <div class="panel-body" data-module="filter-entities-type" data-count="{{ entities_length }}">
              <form class="add-bottom-margin">
                <label for="gene-filter">
                  Entity name
                  <br /><span class="text-muted normal">Enter a gene symbol, STR name, Region name, or the beginning of one, eg “CD” or “CD19”</span>
                </label><br />
                <div class="input-group">
                  <input id="gene-filter" type="text" autofocus class="form-control normal js-filter-list-input" placeholder="Filter entities">
                  <span class="input-group-addon js-filter-list-count" data-singular="entity" data-plural="entities">
                    {{ entities_length }} entities
                  </span>
                </div>
                <div>
                    Show <label for="show_genes"><input type="checkbox" id="show_genes" name="show_genes" checked /> Genes</label>
                    <label for="show_strs"><input type="checkbox" id="show_strs" name="show_strs" checked /> STRS</label>
                    <label for="show_regions"><input type="checkbox" id="show_regions" name="show_regions" checked /> Regions</label>
                </div>
              </form>
              <hr />
              <ul id="entities-list" class="list-inline gene-filter-list js-filter-list">
                
              {% for type, entity, gene_symbol in entities %}
                {% if entity %}
                  <li data-text="{{ entity }}" data-type="{{ type }}">
                      <a href="{% if gene_symbol %}{% url 'panels:entity_detail' gene_symbol %}{% else %}{% url 'panels:entity_detail' entity  %}{% endif %}{% if tag_filter %}?tag={{ tag_filter}}{% endif %}">
                          {{ entity }}
                      </a>
                  </li>
                {% endif %}
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        {% if tags %}
        <h3 class="remove-top-margin normal add-bottom-margin">Tagged</h3>
        <ul class="list-inline">
          {% for tag in tags %}
              <li class="add-label-margin">
                <a href="?tag={{ tag }}">{{ tag }}</a>
              </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  {% endwith %}
  {% endblock %}
