{% extends "default.html" %}
{% load bootstrap3 %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header" id="banner">
        <h1>{% block title %}{{ request.user }}{% endblock %}</h1>
      </div>

      <div id="user_info">
        <div class="list-group">
          <div class="list-group-item active">
            <h4 class="list-group-item-heading">User Information</h4>
          </div>

          <div  class="list-group-item">
            <h4 class="list-group-item-heading">Username</h4>
            <p class="list-group-item-text">{{ request.user.username }}</p>
          </div>

          <div  class="list-group-item">
            <h4 class="list-group-item-heading">First Name</h4>
            <p class="list-group-item-text">{{ request.user.first_name }}</p>
          </div>

          <div  class="list-group-item">
            <h4 class="list-group-item-heading">Last Name</h4>
            <p class="list-group-item-text">{{ request.user.last_name }}</p>
          </div>

          <div  class="list-group-item">
            <h4 class="list-group-item-heading">Affiliation</h4>
            <p class="list-group-item-text">{{ request.user.reviewer.affiliation }}</p>
          </div>

          <div  class="list-group-item">
            <h4 class="list-group-item-heading">Role</h4>
            <p class="list-group-item-text">{{ request.user.reviewer.role }}</p>
          </div>

          <div  class="list-group-item">
            <h4 class="list-group-item-heading">Group</h4>
            <p class="list-group-item-text">{{ request.user.reviewer.group }}</p>
          </div>

          <div  class="list-group-item">
            <h4 class="list-group-item-heading">Workplace</h4>
            <p class="list-group-item-text">{{ request.user.reviewer.workplace }}</p>
          </div>
        </div>

        <a href="{% url 'accounts:change_password' %}">Change password</a>
      </div>
      <h2 class="add-bottom-margin">Your Evaluations</h1>
    </div>
  </div>
</div>

{% endblock %}
